@tailwind base;
@tailwind components;
@tailwind utilities;

/* #c9ab81      Text Heading Colour */
/* #0f1d22      Background Colour */

*{
    margin: 0%;
    padding: 0%;
    /* background-color: #0f1d22; */
    /* color: white; */
}
.home_section3{
    background: url("https://images.unsplash.com/photo-1592861956120-e524fc739696?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.home_section3 .shadow{
    background: rgba(0, 0, 0, .7);
    height: 100vh;
}

